---
---
:ruby

  def keywords
    if is_front_page?
      tag_set.join(', ')
    else
      tags = @item[:tags].nil? ? '' : @item[:tags].join(', ')
      keywords = @item[:keywords] || ''
      [keywords, tags].join(', ')
    end
  end

  def link_unless_current(s)
    if @item.identifier != "/#{s}/" then "<a href='"+link_path("/#{s}/")+"'>#{s}</a></li>" else s end
  end
  
  def logo
    if is_front_page?
      site_name
    else
      "<a href='/'>&laquo; #{site_name}</a>"
    end
  end

!!! Strict
%html
  %head
    %title= "#{@item[:title]}"
    %meta(content="text/html; charset=utf-8" http-equiv="Content-Type")/
    %meta(name="keywords" content="#{keywords}")/
    %meta(name="description" content="#{@item[:excerpt]}")/
    %meta(name="viewport" content="initial-scale=1.0, width=device-width")/
    %link(href="#{link_path("/atom.xml")}" title="ATOM Feed" rel="alternate" type="application/atom+xml")/
    %link(rel="icon" href="#{link_path("/favicon.png")}" type="image/png")/
    %link(rel="shortcut icon" href="#{link_path("/favicon.png")}" type="image/png")/
    %link(href="#{link_path("/style.css")}" media="screen" rel="stylesheet" type="text/css")/
    -if @item.identifier == '/'
      :plain
        <!-- Home Page Special Links -->
        <link rel="pavatar" href="http://mildred.fr/Images/IMG_5669_square_80.jpeg" />
        <meta name="google-site-verification" content="gF0wqHzzrTjzNOh2j-plpWNNvqotWwMY3_1vDUJCQcI" />
        <!-- MyOpenID -->
        <link rel="openid.server"    href="http://www.myopenid.com/server" />
        <link rel="openid.delegate"  href="http://mildred.myopenid.com/" />
        <link rel="openid2.local_id" href="http://mildred.myopenid.com" />
        <link rel="openid2.provider" href="http://www.myopenid.com/server" />
        <meta http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=mildred.myopenid.com" />
        <!-- XMPP OpenID -->
        <!--link rel="openid.server"   href="http://openid.xmpp.za.net/server"-->
        <!--link rel="openid.delegate" href="http://openid.xmpp.za.net/base64/bWlsZHJlZEBqYWJiZXIuZnI="-->

  %body
    -# needed since some content render <pre> blocks
    - content = find_and_preserve(yield)
    
    .header
      %h1 Mildred's Website
      
      .links
        %ul
          %li
            %a(href="#{link_item("/")}") Home
          %li
            %a(href="#{link_item("/Blog/")}") Blog
      
      .content
        %strong Tags:
        %ul.tags
          - tags.each do |tag|
            %li
              %a{:href => link_item("/tags/#{tag}/"), :class=>'tag'}= tag
      
      .clear
    
    .leftcol
      %img(class="photo" src="#{link_path("/Images/IMG_5669_square_128.jpeg")}" alt="My photo")/
      %img(class="photo" src="#{link_path("/Images/all128.jpeg")}" alt="My avatar")/
      %hr/
      :plain
        <p>GoogleTalk, Jabber, XMPP address:
        <br /><strong><a href="xmpp:mildred&#64;jabber.fr">mildred&#64;jabber.fr</a></strong><!--&nbsp;<img src="http://presence.jabberfr.org/2dc519ffec76a836c2f2c2f66ac38291/image-dcraven.png" alt="" /><br /><em><script type="text/javascript" src="http://presence.jabberfr.org/2dc519ffec76a836c2f2c2f66ac38291/message_js.js"></script></em>-->
        </p>
      %hr/
      %p
        %a(href="#{link_path("/gpg_key.txt")}") GPG Public Key
        %br
        %span(style="font-size: 0.8em")
          (Fingerprint 197C A7E6 645B 4299 6D37 684B 6F9D A8D6 9A7D 2E2B)

    .main
      - if @item[:kind] == 'article'
        = render('_article', :item => @item, :content => content)
        = render('_other_articles_nav', :reference_item => @item)
        .clear
      - else
        = content
      .clear

    .clear

    .footer
      %hr/
      %p! E-mail: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#37;&#54;&#68;&#37;&#54;&#57;&#37;&#54;&#67;&#37;&#54;&#52;&#37;&#55;&#50;&#37;&#54;&#53;&#37;&#54;&#52;&#37;&#51;&#53;&#37;&#51;&#57;&#37;&#51;&#51;&#37;&#50;&#66;&#37;&#55;&#48;&#37;&#55;&#53;&#37;&#54;&#50;&#37;&#52;&#48;&#37;&#54;&#55;&#37;&#54;&#68;&#37;&#54;&#49;&#37;&#54;&#57;&#37;&#54;&#67;&#37;&#50;&#69;&#37;&#54;&#51;&#37;&#54;&#70;&#37;&#54;&#68;">&#109;&#105;&#108;&#100;&#114;&#101;&#100;&#53;&#57;&#51;&#43;&#112;&#117;&#98;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a> <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#37;&#55;&#51;&#37;&#54;&#56;&#37;&#54;&#49;&#37;&#54;&#69;&#37;&#55;&#52;&#37;&#54;&#57;&#37;&#50;&#69;&#37;&#54;&#50;&#37;&#54;&#70;&#37;&#55;&#53;&#37;&#54;&#51;&#37;&#54;&#56;&#37;&#54;&#53;&#37;&#55;&#65;&#37;&#50;&#66;&#37;&#55;&#48;&#37;&#55;&#53;&#37;&#54;&#50;&#37;&#52;&#48;&#37;&#54;&#55;&#37;&#54;&#68;&#37;&#54;&#49;&#37;&#54;&#57;&#37;&#54;&#67;&#37;&#50;&#69;&#37;&#54;&#51;&#37;&#54;&#70;&#37;&#54;&#68;">&#115;&#104;&#97;&#110;&#116;&#105;&#46;&#98;&#111;&#117;&#99;&#104;&#101;&#122;&#43;&#112;&#117;&#98;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</a>
      :markdown
        Mildred's Website: [http://mildred.fr](http://mildred.fr).
        I try to have [cools URI that don't change](http://www.w3.org/Provider/Style/URI).


